{% extends "base.html" %}

{% block content %}
<h1>{{ url.name }}</h1>

<table class="table" data-test="url">
    <tbody>
         <tr>
            <th>ID</th>
            <td>{{ url.id }}</td>
         </tr>
         <tr>
            <th>Имя</th>
            <td>{{ url.name }}</td>
         </tr>
         <tr>
            <th>Дата создания</th>
            <td>{{ url.created_at }}</td>
         </tr>
    </tbody>
</table>

<p class="text-muted mt-4">Функция проверки страницы будет добавлена позже</p>
{% endblock %}